
/* Réinitialisation des styles par défaut */
* {
    margin: 0;  /* Supprime les marges par défaut */
    padding: 0;  /* Supprime les padding par défaut */
    box-sizing: border-box;  /* Modifie le modèle de boîte CSS par 
    défaut pour que width et height incluent le contenu, padding et border */
}
/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;  /* Définit la police du texte pour le corps de la page */
    font-size: 16px;  /* Définit la taille de la police pour le corps de la page */
    line-height: 1.5;  /* Définit l'espacement des lignes de texte pour le corps de la page */
    background-image: url(villa10.jpg);/* Définit une image d'arrière-plan pour le corps de la page */
    /* Les prochaines 4 lignes définissent le comportement de l'image d'arrière-plan du corps de la page */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    max-width: 1960px;
    padding: 0;
    height: 100vh; /* Force le corps de la page à occuper toute la hauteur de la fenêtre de visualisation */
}

td {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


/* Styles pour les éléments de la liste dans la balise nav */
nav ul li {
    display: inline-block;  /* Rend les éléments de la liste inline pour les aligner horizontalement */
    margin: 0 10px;  /* Ajoute des marges horizontales autour des éléments de la liste */
}

/* Styles pour la div d'horloge */
.horloge-div {
    background-color: #401e11; /* Couleur d'arrière-plan de la div d'horloge */
    width: 100%; /* Largeur de la div d'horloge */
    height: 100px; /* Hauteur de la div d'horloge */
}

/* Styles pour centrer les éléments en flex */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.center-text { /* Styles pour centrer le texte */
    text-align: center;
}

.margin-top { /* Styles pour ajouter une marge en haut */
    margin-top: 0;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.horizontal-list li {
    float: left;
}

.horizontal-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.horizontal-list li a:hover {
    background-color: #111;
}


form {                  /* Styles pour les formulaires */
    margin-top: 20px;   /* Ajoute une marge en haut des formulaires */
    margin-bottom: 20px;/* Ajoute une marge en bas des formulaires */
    text-align: center; /* Ajoute le centrage pour les éléments enfants */

}


label {                 /* Styles pour les étiquettes */
    display: inline-block;     /* Affiche les étiquettes en bloc */
    margin-bottom: 5px; /* Ajoute une marge en bas des étiquettes */
}

/* Styles pour les champs de saisie de type number, text, email et date */
input[type="number"],
input[type="text"],
input[type="email"],
input[type="date"] {
    width: 35%;  /* Définit la largeur des champs de saisie */
    padding: 10px;  /* Définit le padding des champs de saisie */
    margin-bottom: 20px;  /* Ajoute une marge en bas des champs de saisie */
    border: 1px solid #ccc;  /* Définit la bordure des champs de saisie */
    border-radius: 5px;  /* Arrondit les coins des champs de saisie */
}

/* Styles pour les boutons de type button, submit et reset */
input[type="button"],
input[type="submit"],
input[type="reset"] {
    width: 100%;  /* Définit la largeur des boutons */
    padding: 10px 20px;  /* Définit le padding des boutons */
    margin: 10px 0;  /* Ajoute des marges autour des boutons */
    background-color: #401e11;  /*Définit la couleur d'arrière-plan des boutons */
    color: #ffffff;  /* Définit la couleur du texte des boutons */
    border: none;  /* Supprime la bordure des boutons */
    border-radius: 5px;  /* Arrondit les coins des boutons */
    font-size: 1em;  /* Définit la taille de la police des boutons */
    cursor: pointer;  /* Change le curseur en pointeur lorsque l'utilisateur survole les boutons */
    transition: background-color 0.3s ease;   /*Ajoute une transition sur la couleur d'arrière-plan des boutons*/
}
    */
/* Styles pour le survol des boutons de type button, submit et reset */
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #35424a;  /* Change la couleur d'arrière-plan des boutons lorsqu'ils sont survolés */
}

.menu-button {
    background-color: black;
}

/* Styles pour le lien du bouton de menu dans .menu-button */
.menu-button a{
    display: block;  /* Affiche le lien en bloc */
    margin: 0 auto;  /* Centre le lien */
    width: 200px;  /* Définit la largeur du lien */
    height: 50px;  /* Définit la hauteur du lien */
    background-color: black;  /* Définit la couleur d'arrière-plan du lien */
    color: white;  /* Définit la couleur du texte du lien */
    font-size: 1.2em;  /* Définit la taille de la police du lien */
    border-radius: 5px;  /* Arrondit les coins du lien */
    line-height: 50px;  /* Définit la hauteur de ligne du lien */
    text-decoration: none;  /* Supprime le soulignement du lien */
}

/* Styles pour le survol du bouton de menu dans .menu-button */
.menu-button:hover {
    background-color: gray;  /* Change la couleur d'arrière-plan du bouton de menu lorsqu'il est survolé */
    color: white;  /* Maintient la couleur du texte en blanc lorsqu'il est survolé */
}

/* Styles pour les boutons "Valider" et "Effacer" */
input[type="button"][value="Retour"],
input[type="button"][value="Valider"],
input[type="button"][value="Effacer"] {
    display: block;  /* Affiche les boutons en bloc */
    margin: 0 auto;  /* Centre les boutons */
    width: 200px;  /* Définit la largeur des boutons */
    height: 50px;  /* Définit la hauteur des boutons */
    background-color: black;  /* Définit la couleur d'arrière-plan des boutons */
    color: white;
    /* La taille de la police sur les boutons est définie comme 1.2em. */
    font-size: 1.2em;
    /* Les coins des boutons sont légèrement arrondis avec un rayon de 5px. */
    border-radius: 5px;
    /* Le texte sur les boutons est centré. */
    
    /* La hauteur de la ligne de texte sur les boutons est définie comme 50px. */
    line-height: 50px;
    /* Aucune décoration de texte (comme le soulignement) n'est appliquée aux boutons. */
    text-decoration: none;
}
/* styles lorsqu'ils sont survolés par le curseur de la souris. */
input[type="button"][value="Retour"]:hover,
input[type="button"][value="Valider"]:hover,
input[type="button"][value="Effacer"]:hover {
    /* la couleur de fond des boutons change en gris. */
    background-color: gray;
    /* La couleur du texte sur les boutons reste blanche */
    color: white;
}

li {
    display: grid;
    margin: 10px 5px;
}

a {
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
}

.slideshow {
  position: relative;
  height: 80vh; /* Ajustez la hauteur du diaporama selon vos besoins */
  width: 100%;
  overflow: hidden;
  z-index: 1; /* Assurez-vous que le slideshow reste en dessous du nav-container */
}

.slideshow img.active {
  opacity: 1;
}

.content {
   position: relative;
   z-index: 2; /* Assurez-vous que le contenu reste au-dessus du diaporama mais sous le nav-container */
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;   /* adjust the width automatically */
  height: 100%;  /* set the height to 100% */
  object-fit: cover;  /* scale the images to fit the element without cropping */
  opacity: 0;
  transition: opacity 1s ease;
}


.nav-container {
    display: flex;
    flex-direction: column; /* Ajouté pour organiser vos éléments en colonne */
    justify-content: center;
    align-items: center; /* Ajouté pour centrer les éléments horizontalement */
    background-color: #000;
    position: relative; /* Ajouté pour pouvoir utiliser z-index */
    z-index: 3; /* Assurez-vous que le nav-container reste au-dessus du contenu et du diaporama */
}


.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-list li {
    margin: 0 20px;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.horizontal-list li a:hover {
    text-decoration: underline;
}
.maison-container {
    display: grid;
    grid-template-columns: auto 1fr; /* auto pour l'image, 1fr pour le texte */
    gap: 20px; /* espace entre les lignes et les colonnes */
}

.maison-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* aligne l'image et le texte en haut */
}

.maison-item img {
    width: 200px; /* ajustez selon vos besoins */
    height: auto;
    object-fit: cover; /* Cela garantira le maintien du rapport d'aspect de l'image */
}

.maison-desc {
    padding-left: 0px; /* espace entre l'image et le texte */
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond noir semi-transparent */
    color: white; /* Change la couleur du texte en blanc pour augmenter le contraste */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre portée au texte */
    text-align: left;
}
.text-box {
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond blanc semi-transparent */
    padding: 10px; /* Ajoute du padding autour du texte */
    border-radius: 5px; /* Ajoute un arrondi aux coins de la boîte de texte */
    overflow: auto; /* Ajoute une barre de défilement si le texte déborde de la boîte */
}
/* Styles pour les étiquettes */
label.maison-desc { 
    display: block; /* Affiche les étiquettes en bloc */
    width: 35%;  /* La même largeur que les champs de saisie */
    margin: 0 auto 5px auto; /* Centre les étiquettes et ajoute une marge en bas */
    text-align: center; /* Centre le texte à l'intérieur des étiquettes */
}

/* Styles pour les champs de saisie de type number, text, email et date */
input[type="number"],
input[type="text"],
input[type="email"],
input[type="date"] {
    display: block; /* Affiche les champs de saisie en bloc */
    width: 35%;  /* Définit la largeur des champs de saisie */
    margin: 0 auto 20px auto; /* Centre les champs de saisie et ajoute une marge en bas */
    padding: 10px;  /* Définit le padding des champs de saisie */
    border: 1px solid #ccc;  /* Définit la bordure des champs de saisie */
    border-radius: 5px;  /* Arrondit les coins des champs de saisie */
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}


#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

}
.message-bar {
    visibility: hidden; 
    min-height: 50px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%; 
}

.message-bar.show {
    visibility: visible;
}
